NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_GITHUB_USERNAME=your-github-username
NEXT_PUBLIC_MEDIUM_USERNAME=@your-medium-username
NEXT_PUBLIC_CONTACT_ENDPOINT=https://formspree.io/f/your-form-id
